html, body {margin: 0; height: 100%; overflow: hidden}

#gameBrackground {
    padding-top: 25%;
    width: 100%;
    vertical-align: bottom;
    background-image: url('../img/map/bkg-mointains01.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#gameOver {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0%;
    background-image: url('../img/game-over01.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% 50%;
}

#ufo {
    width: 20%;
    height: 20%;
    position: absolute;
    display: none;
}

#ufoImg {
    width: 100%;
    height: 100%;
}

.ufoShot {
    display: none;
    position: absolute;
    width: 2%;
    height: 1%;
    background-color: #000;
}

.charShot {
    display: none;
    position: absolute;
    width: 1.5%;
    height: 1%;
    background-color: #000;
}

.floor {
    padding-top: auto;
    position: absolute;
}

.firstFloor {
    top: 10%;
}

.single {
    width: 6.25%
}

.double {
    width: 12.5%
}

#charman {
    width: 5%;
    height: 14%;
    position: absolute;
    top: 52%;
}

#charmanImg {
    width: 100%;
    height: 100%;
}

#pig {
    width: 8%;
    height: 10%;
    position: absolute;
    top: 56%;
    left: 85%;
    display: none;
}

#pigImg {
    width: 100%;
    height: 100%;
}

.controller {
    margin-top: 10%;
    position: relative;
}

.btn {
    margin-top: 2%;
    width: 20%;
    height: 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 100%;
}

.btnShoot {
    float: right;
}

.forceRight {
    float: right;
}

.forceLeft {
    float: left;
}

.jump {
    background-image: url('../img/controls/jump01.png');
}

.fire {
    background-image: url('../img/controls/attack01.png');
}

.moveRight {
    background-image: url('../img/controls/right01.png');
}

.moveLeft {
    background-image: url('../img/controls/left01.png');
}